/Array1.class
/LengthOfVector.class
/LengthOfVectorTest.class
/Array2.class
/Average.class
/AverageTest.class
/Scorebook.class
/ScorebookTest.class
/StringArray.class
/StringArrayTest.class
/Strings.class
